<a href="https://colab.research.google.com/github/aballiet/UserData-Protection-Attack/blob/main/Load_dataset_INSAnonym.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load Drive module
You will have to authenticate by providing a temporary key and browse your Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!cp ./drive/MyDrive/INSAnonym.zip .

## Load dataset

In [3]:
!unzip INSAnonym.zip

Archive:  INSAnonym.zip
  inflating: challenge-dataset-time1.csv

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('./challenge-dataset-time1.csv',
                 header=None, delimiter=r"\s+",
                 names=[ 'ID', 'Date', 'Time', 'Longitude', 'Latitude'],
                 index_col=False, parse_dates=[['Date', 'Time']])

In [6]:
df.head()

            Date_Time  ID  Longitude   Latitude
0 2015-03-04 00:35:16   1   4.870147  45.772140
1 2015-03-04 00:35:48   1   4.870218  45.772095
2 2015-03-04 00:35:49   1   4.870210  45.772072
3 2015-03-04 00:35:50   1   4.870210  45.772072
4 2015-03-04 00:35:52   1   4.870210  45.772072