<a href="https://colab.research.google.com/github/aballiet/UserData-Protection-Attack/blob/main/Load_dataset_INSAnonym.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load Drive module
You will have to authenticate by providing a temporary key and browse your Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!cp ./drive/MyDrive/INSAnonym.zip .

## Load dataset

In [4]:
!unzip INSAnonym.zip

Archive:  INSAnonym.zip
replace challenge-dataset-time1.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('./challenge-dataset-time1.csv', header=None, delimiter=r"\s+",
                 names=[ 'ID', 'Date' 'Time', 'Longitude', 'Latitude'])

In [9]:
df.head()

           ID  DateTime  Longitude   Latitude
1  2015-03-04  00:35:16   4.870147  45.772140
1  2015-03-04  00:35:48   4.870218  45.772095
1  2015-03-04  00:35:49   4.870210  45.772072
1  2015-03-04  00:35:50   4.870210  45.772072
1  2015-03-04  00:35:52   4.870210  45.772072